In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/Home/March_Madness_2023/Data/cbb.csv')
df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,Michigan St.,B10,35,26,111.4,87.8,0.9392,50.6,44.5,20.8,...,32.4,50.4,44.3,34.1,30.1,64.4,6.7,S16,3.0,2013
2451,Arizona,P12,35,27,114.4,92.2,0.9229,52.5,46.6,19.5,...,32.9,50.6,43.4,37.1,35.8,66.8,4.6,S16,6.0,2013
2452,Oregon,P12,37,28,104.8,88.6,0.8728,49.3,46.4,21.4,...,33.3,49.1,44.9,33.3,33.4,69.2,2.9,S16,12.0,2013
2453,La Salle,A10,34,24,112.0,96.2,0.8516,51.9,49.3,17.1,...,28.5,49.3,50.6,37.7,30.2,66.0,0.3,S16,13.0,2013
2454,Florida Gulf Coast,ASun,35,24,103.4,96.3,0.6952,51.6,46.9,21.0,...,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,S16,15.0,2013

In [5]:
cbb_df = cbb_df.rename(columns={'TEAM': 'Team', 'CONF':'Conf','YEAR':'Year'})

In [6]:
cbb_df['Team'].value_counts()

North Carolina      7
San Diego St.       7
St. Francis NY      7
Sacred Heart        7
Mount St. Mary's    7
                   ..
IPFW                4
Fort Wayne          3
Little Rock         3
North Alabama       1
Cal Baptist         1
Name: Team, Length: 355, dtype: int64

In [9]:
clean_df = cbb_df.drop(['G','W','POSTSEASON','SEED'], axis=1)
clean_df.head()

,Team,Conf,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year
0,North Carolina,ACC,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,30.0,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016
1,Wisconsin,B10,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,23.7,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015
2,Michigan,B10,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,24.9,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018
3,Texas Tech,B12,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,28.7,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019
4,Gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,26.2,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017

In [10]:
final_df = clean_df[cbb_df['Team'].isin(['Purdue','Texas Southern','Fairleigh Dickinson','Memphis','Florida Atlantic','Duke','Oral Roberts','Tennessee','Louisiana Lafayette','Kentucky','Providence','Kansas St.','Montana St.','Michigan St.','USC','Marquette','Vermont','Kansas','Howard','Arkansas','Illinois','Saint Mary','VCU','Connecticut','Iona','TCU','Arizona St.','Nevada','Gonzaga','Grand Canyon','Northwestern','Boise State','UCLA','UNC Asheville','Houston','Northern Kentucky','Iowa','Auburn','Miami FL','Drake','Indiana','Kent St.','Iowa St.','Mississippi St.','Pittsburgh','Xavier','Kennesaw St.','Texas A&M','Penn State','Texas','Colgate','Alabama','Texas A&M-CC','SE Missouri St.','Maryland','West Virginia','San Diego St.','College of Charleston','Virginia','Furman','Creighton','North Carolina St.','Baylor','UC Santa Barbara','Missouri','Utah St.','Arizona','Princeton'])]
final_df.head()

,Team,Conf,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year
4,Gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,26.2,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017
5,Kentucky,SEC,117.2,96.2,0.9062,49.9,46.0,18.1,16.1,42.0,29.7,51.8,36.8,50.0,44.9,33.2,32.2,65.9,3.9,2014
7,Duke,ACC,125.2,90.6,0.9764,56.6,46.5,16.3,18.6,35.8,30.2,39.8,23.9,55.9,46.3,38.7,31.4,66.4,10.7,2015
8,Virginia,ACC,123.0,89.9,0.9736,55.2,44.7,14.7,17.5,30.4,25.4,29.1,26.3,52.5,45.7,39.5,28.9,60.7,11.1,2019
12,Connecticut,Amer,112.5,91.3,0.9171,51.5,44.6,17.3,19.6,30.4,32.8,38.3,35.7,48.1,42.2,38.7,33.0,64.8,4.7,2014

In [11]:
final_df['Team'].value_counts()

Gonzaga                7
Fairleigh Dickinson    7
Montana St.            7
UNC Asheville          7
UC Santa Barbara       7
                      ..
Maryland               7
TCU                    7
Texas                  7
Baylor                 7
Grand Canyon           6
Name: Team, Length: 63, dtype: int64

In [12]:
final_df.to_csv('C:/Users/Home/March_Madness_2023/Data/cbb_clean_Data.csv', index = False)