In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("C:/Users/Home/March_Madness_2023/Data/clean_Data.csv")
df2 = pd.read_csv("C:/Users/Home/March_Madness_2023/Data/cbb_clean_Data.csv")
df = pd.merge(df1,df2)
print(df)

      Rk                 Team  Conf     W-L  BPI Off  BPI Def   BPI  Year  \
0      4                 Duke   ACC    30-6     12.2      5.4  17.6  2013
1      7              Gonzaga   WCC    32-3     10.7      5.6  16.4  2013
2     15             Miami FL   ACC    29-7      4.7      9.3  14.0  2013
3     18            Creighton   MVC    28-8      8.9      4.5  13.4  2013
4     19             Missouri   SEC   23-11     10.2      2.2  12.4  2013
..   ...                  ...   ...     ...      ...      ...   ...   ...
127  180                Drake   MVC   17-17      0.3     -0.7  -0.4  2018
128  229       Texas Southern  SWAC   16-20      0.7     -4.3  -3.6  2018
129  247           Pittsburgh   ACC  24-Aug     -4.4     -0.4  -4.8  2018
130  251  Fairleigh Dickinson   NEC   13-18     -1.5     -3.5  -5.0  2018
131  335               Howard  MEAC  23-Oct     -4.7     -7.2 -11.9  2018

     ADJOE  ADJDE  ...   ORB   DRB   FTR  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T  \
0    118.4   91.5  ...  28.8  32.3  39.2  32.7  50.8  46.2  39.9  29.0   67.8
1    118.9   90.2  ...  37.8  29.8  40.8  29.9  55.0  42.1  36.5  32.9   65.1
2    112.4   90.8  ...  31.3  28.4  34.6  28.3  50.6  44.0  36.2  32.6   63.0
3    116.4   95.0  ...  28.8  27.2  34.2  26.1  55.7  45.5  41.4  31.2   65.2
4    113.3   95.2  ...  38.7  28.6  35.0  29.7  51.4  44.1  33.9  33.2   67.7
..     ...    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
127  105.6  103.8  ...  23.6  27.9  32.3  24.5  48.4  52.3  35.6  33.6   69.3
128  104.1  112.4  ...  28.5  32.5  42.9  31.2  48.5  49.4  35.9  36.6   72.6
129   98.2  103.3  ...  22.7  34.8  31.9  31.3  47.8  50.1  32.5  33.4   66.5
130  101.7  112.7  ...  30.3  35.0  30.8  35.9  49.3  50.1  33.9  36.0   71.7
131   98.4  119.4  ...  28.9  34.9  34.5  38.3  46.7  53.7  34.9  35.3   71.4

      WAB
0     7.5
1     7.6
2     6.3
3     3.5
4     1.2
..    ...
127  -8.1
128 -10.9
129 -10.9
130 -13.1
131 -18.6

[132 rows x 25 columns]

In [3]:
df

,Rk,Team,Conf,W-L,BPI Off,BPI Def,BPI,Year,ADJOE,ADJDE,...,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB
0,4,Duke,ACC,30-6,12.2,5.4,17.6,2013,118.4,91.5,...,28.8,32.3,39.2,32.7,50.8,46.2,39.9,29.0,67.8,7.5
1,7,Gonzaga,WCC,32-3,10.7,5.6,16.4,2013,118.9,90.2,...,37.8,29.8,40.8,29.9,55.0,42.1,36.5,32.9,65.1,7.6
2,15,Miami FL,ACC,29-7,4.7,9.3,14.0,2013,112.4,90.8,...,31.3,28.4,34.6,28.3,50.6,44.0,36.2,32.6,63.0,6.3
3,18,Creighton,MVC,28-8,8.9,4.5,13.4,2013,116.4,95.0,...,28.8,27.2,34.2,26.1,55.7,45.5,41.4,31.2,65.2,3.5
4,19,Missouri,SEC,23-11,10.2,2.2,12.4,2013,113.3,95.2,...,38.7,28.6,35.0,29.7,51.4,44.1,33.9,33.2,67.7,1.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,180,Drake,MVC,17-17,0.3,-0.7,-0.4,2018,105.6,103.8,...,23.6,27.9,32.3,24.5,48.4,52.3,35.6,33.6,69.3,-8.1
128,229,Texas Southern,SWAC,16-20,0.7,-4.3,-3.6,2018,104.1,112.4,...,28.5,32.5,42.9,31.2,48.5,49.4,35.9,36.6,72.6,-10.9
129,247,Pittsburgh,ACC,24-Aug,-4.4,-0.4,-4.8,2018,98.2,103.3,...,22.7,34.8,31.9,31.3,47.8,50.1,32.5,33.4,66.5,-10.9
130,251,Fairleigh Dickinson,NEC,13-18,-1.5,-3.5,-5.0,2018,101.7,112.7,...,30.3,35.0,30.8,35.9,49.3,50.1,33.9,36.0,71.7,-13.1
131,335,Howard,MEAC,23-Oct,-4.7,-7.2,-11.9,2018,98.4,119.4,...,28.9,34.9,34.5,38.3,46.7,53.7,34.9,35.3,71.4,-18.6

In [4]:
df['Team'].value_counts()

Duke                     6
Tennessee                6
Fairleigh Dickinson      6
Howard                   6
Mississippi St.          6
Auburn                   6
Drake                    6
Texas Southern           6
Princeton                6
Iona                     6
Gonzaga                  6
Texas A&M                6
Arkansas                 6
Alabama                  6
Virginia                 6
Kentucky                 6
Missouri                 6
Miami FL                 6
North Carolina St.       5
Pittsburgh               5
College of Charleston    5
Grand Canyon             5
Maryland                 2
Utah St.                 1
Creighton                1
Name: Team, dtype: int64