In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("C:/Users/Home/March_Madness_2023/Data/clean_Data.csv")
df2 = pd.read_csv("C:/Users/Home/March_Madness_2023/Data/cbb_clean_Data.csv")

df = pd.merge(df1,df2, on='Team', how='outer')

In [3]:
df

,Rk,Team,Conf_x,W-L,BPI Off,BPI Def,BPI,Year_x,Conf_y,ADJOE,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year_y
0,1,Kansas,Big 12,37-3,12.4,9.6,21.9,2008,B12,120.9,...,27.9,38.6,37.3,52.7,43.4,41.3,32.5,70.1,11.6,2016.0
1,1,Kansas,Big 12,37-3,12.4,9.6,21.9,2008,B12,121.5,...,29.7,36.0,30.0,53.6,45.3,40.4,35.6,71.4,11.0,2017.0
2,1,Kansas,Big 12,37-3,12.4,9.6,21.9,2008,B12,122.1,...,31.2,27.0,24.6,55.6,48.6,40.1,33.3,69.9,8.2,2018.0
3,1,Kansas,Big 12,37-3,12.4,9.6,21.9,2008,B12,113.6,...,31.6,42.6,33.8,46.4,43.4,37.9,31.5,67.2,9.0,2015.0
4,1,Kansas,Big 12,37-3,12.4,9.6,21.9,2008,B12,112.9,...,27.9,32.5,27.8,52.6,46.0,35.0,33.6,71.5,8.3,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4702,270,Louisiana Lafayette,Sun Belt,20-Nov,1.1,-6.3,-5.2,2014,SB,109.8,...,27.8,42.2,37.3,51.5,53.8,34.2,37.1,73.6,-6.4,2017.0
4703,270,Louisiana Lafayette,Sun Belt,20-Nov,1.1,-6.3,-5.2,2014,SB,112.2,...,27.9,38.0,36.1,52.4,48.5,35.4,33.6,71.6,-0.5,2018.0
4704,270,Louisiana Lafayette,Sun Belt,20-Nov,1.1,-6.3,-5.2,2014,SB,106.3,...,31.9,35.1,36.9,50.5,52.3,34.2,36.6,73.4,-6.5,2019.0
4705,270,Louisiana Lafayette,Sun Belt,20-Nov,1.1,-6.3,-5.2,2014,SB,98.4,...,35.2,35.1,43.3,46.9,47.2,34.5,34.9,70.2,-13.9,2013.0
4706,270,Louisiana Lafayette,Sun Belt,20-Nov,1.1,-6.3,-5.2,2014,SB,110.5,...,31.8,44.3,44.0,49.6,50.6,37.1,33.2,70.0,-3.8,2014.0

In [4]:
df['Team'].value_counts()

Kansas                 77
Arizona St.            77
Memphis                77
Creighton              77
Alabama                77
                       ..
Northern Kentucky      42
Grand Canyon           30
Texas A&M-CC           11
SE Missouri St.        11
Louisiana Lafayette     7
Name: Team, Length: 65, dtype: int64

In [5]:
df['Team'].unique()

array(['Kansas', 'Memphis', 'UCLA', 'Duke', 'West Virginia', 'Tennessee',
       'Xavier', 'Marquette', 'Texas', 'Michigan St.', 'Pittsburgh',
       'Indiana', 'Connecticut', 'Texas A&M', 'USC', 'Gonzaga',
       'Mississippi St.', 'Arizona', 'Miami FL', 'Drake', 'Purdue',
       'Arkansas', 'Kansas St.', 'Missouri', 'VCU', 'Maryland',
       'Illinois', 'Baylor', 'Kent St.', 'Kentucky', 'Arizona St.',
       'Houston', 'Virginia', 'Creighton', 'Alabama', 'Providence',
       'Oral Roberts', 'UC Santa Barbara', 'San Diego St.',
       'North Carolina St.', 'Nevada', 'Auburn', 'Utah St.', 'Iowa St.',
       'UNC Asheville', 'Vermont', 'Iowa', 'College of Charleston', 'TCU',
       'Colgate', 'Northwestern', 'Florida Atlantic', 'Montana St.',
       'Iona', 'Texas A&M-CC', 'Princeton', 'Furman', 'SE Missouri St.',
       'Kennesaw St.', 'Fairleigh Dickinson', 'Texas Southern', 'Howard',
       'Northern Kentucky', 'Grand Canyon', 'Louisiana Lafayette'],
      dtype=object)

In [6]:
df.shape

(4707, 27)

In [7]:
df.isna().sum()

Rk          0
Team        0
Conf_x      0
W-L         0
BPI Off     0
BPI Def     0
BPI         0
Year_x      0
Conf_y     22
ADJOE      22
ADJDE      22
BARTHAG    22
EFG_O      22
EFG_D      22
TOR        22
TORD       22
ORB        22
DRB        22
FTR        22
FTRD       22
2P_O       22
2P_D       22
3P_O       22
3P_D       22
ADJ_T      22
WAB        22
Year_y     22
dtype: int64

In [8]:
df.describe()

,Rk,BPI Off,BPI Def,BPI,Year_x,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year_y
count,4707.000000,4707.000000,4707.000000,4707.000000,4707.000000,4685.00000,4685.000000,4685.000000,4685.000000,4685.000000,...,4685.000000,4685.000000,4685.000000,4685.000000,4685.000000,4685.000000,4685.000000,4685.000000,4685.000000,4685.000000
mean,104.084342,3.205949,2.441640,5.647504,2013.028043,108.71063,99.308666,0.690495,50.902476,48.666403,...,29.910502,36.275646,34.251419,49.835197,47.630544,35.218420,33.751355,67.612380,-2.605251,2016.003202
std,94.496770,5.397369,4.466254,7.825622,3.153136,7.47350,6.378898,0.239448,3.216986,2.778850,...,3.015085,5.227526,5.876092,3.357655,3.201935,2.935405,2.261242,3.179009,7.113135,1.998876
min,1.000000,-14.900000,-12.300000,-15.900000,2008.000000,81.20000,84.000000,0.068600,39.200000,39.600000,...,22.200000,24.300000,22.300000,38.900000,37.700000,24.900000,27.100000,58.400000,-22.000000,2013.000000
25%,28.000000,-0.300000,-0.600000,0.900000,2010.000000,104.10000,95.000000,0.556100,48.700000,46.700000,...,27.800000,32.500000,29.900000,47.500000,45.400000,33.100000,32.300000,65.600000,-7.000000,2014.000000
50%,72.000000,3.700000,2.800000,6.700000,2013.000000,108.70000,98.300000,0.775400,51.000000,48.700000,...,29.800000,35.900000,33.400000,49.800000,47.700000,35.200000,33.600000,67.900000,-2.100000,2016.000000
75%,153.000000,7.000000,5.500000,11.200000,2016.000000,113.80000,103.100000,0.880400,53.100000,50.500000,...,31.900000,40.300000,38.100000,52.100000,49.800000,37.200000,35.400000,70.000000,2.700000,2018.000000
max,346.000000,16.400000,17.700000,23.900000,2018.000000,125.90000,119.400000,0.984200,59.800000,57.100000,...,40.400000,52.500000,55.500000,61.400000,57.400000,43.400000,39.600000,75.800000,13.100000,2019.000000

In [9]:
df.dtypes

Rk           int64
Team        object
Conf_x      object
W-L         object
BPI Off    float64
BPI Def    float64
BPI        float64
Year_x       int64
Conf_y      object
ADJOE      float64
ADJDE      float64
BARTHAG    float64
EFG_O      float64
EFG_D      float64
TOR        float64
TORD       float64
ORB        float64
DRB        float64
FTR        float64
FTRD       float64
2P_O       float64
2P_D       float64
3P_O       float64
3P_D       float64
ADJ_T      float64
WAB        float64
Year_y     float64
dtype: object

In [10]:
clean_df = df.drop(['Conf_y','W','POSTSEASON','SEED'], axis=1)
clean_df.head()

In [11]:
# clean_df.to_csv('C:/Users/Home/March_Madness_2023/Data/cbb_clean_merge_Data.csv', index = False)